

  <style>


  </style>

<div class="about-section">
    <h1 style="color: rgb(201, 12, 12);">About Us Page</h1>
    
    <div class="text-justify" >
        <h1 class="text-white">Benvenuti in Electrotech</h1>
        <p>Dove l'innovazione incontra l'eccellenza. Siamo un'azienda tecnologica all'avanguardia dedicata a trasformare idee in realtà. Il nostro viaggio è iniziato con un piccolo team di visionari che condividevano un obiettivo comune: creare soluzioni che spingano il progresso e migliorino la vita.</p>
        
        <p>Presso Electrotech, crediamo nel superare i confini di ciò che è possibile. Il nostro team di esperti spazia in diverse discipline, dalla sviluppo software all'intelligenza artificiale, garantendo che rimaniamo all'avanguardia delle innovazioni tecnologiche.</p>
        
        <p>La nostra missione è chiara: dare potere a imprese e individui con strumenti innovativi che semplificano i processi, aumentano l'efficienza e ispirano la creatività. Attraverso partnership collaborative e un profondo impegno per la qualità, abbiamo guadagnato la fiducia di clienti in tutto il mondo.</p>
        
        <p>Guardando al futuro, restiamo guidati dai nostri valori fondamentali di integrità, creatività e apprendimento continuo. La nostra passione per l'innovazione alimenta la nostra determinazione nel risolvere sfide complesse e lasciare un'impronta duratura nel mondo.</p>
      </div>
        <p>qui sotto troverai link ai contatti degli sviluppatori:</p>   
        <div style="  justify-content: center;display: flex; gap: 20px; ">

            <a href="https://github.com/Chri2704" class="fa fa-github-square fa-4x"></a> 
            <a href="https://www.linkedin.com/in/christian-angileri-1617a9261/" class="fa fa-linkedin-square fa-4x"></a>
        </div>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row justify-content-center">
    <div class="column text-center"> <!-- Aggiunta della classe "text-center" per centrare il contenuto -->
      <div class="card">
        <img [src]="imagePath" alt="Christian" style="width: 50% ;display: block; margin-left: auto; margin-right: auto; width: 50% ; border-radius: 7px;" class="center">        
        <div class="container">
          <h2>Christian Angileri</h2>
          <p class="title">CEO & Founder</p>
          <p>Student at University of Perugia</p>
          <p>Email: <a href="mailto:angilerichristian439@gmail.com?">angilerichristian439@gmail.com</a></p>
          <p><button class="button" style="color: aliceblue;"><a href="https://github.com/Chri2704" class="text-white">Github</a></button></p>
        </div>
      </div>
    </div>
  </div>
