<div class="accordion" id="accordionExample">
    <div class="accordion-item p-0">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <label for="" class="fw-bold">Users</label>
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body p-0">  
              <p *ngIf="users.length === 0">Nessun utente trovato.</p>
                <ul *ngIf="users.length > 0">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Encrypted password</th>
                            <th scope="col">Ban</th>
                        </tr>
                      </thead>
                        <tbody>
                            <ng-container *ngFor="let user of users; let i =index">
                              <tr *ngIf="user.role == 555">
                                <th scope="row">{{i+1}}</th>
                                  <td>{{ user.id }}</td>
                                  <td>{{ user.username }}</td>
                                  <td>{{ user.email }}</td>
                                  <td>{{ user.password }}</td>
                                  <td><button (click)="deleteUser(user.id)" class="btn btn-danger btn-sm  ">elimina</button></td>
                              </tr>
                            </ng-container>
                        </tbody>
                  </table>
              </ul>
          </div>
        </div>
    </div>
    <div class="accordion-item p-0">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <label for="" class="fw-bold">Orders</label>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body p-0">  
          <p *ngIf="orders.length === 0">Nessun ordine trovato.</p>
          <ul *ngIf="orders.length > 0">
              <table class="table table-striped">
                <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">price</th>
                      <th scope="col">username</th>
                      <th scope="col">Delete</th>
                  </tr>
                </thead>
                  <tbody>
                      <ng-container *ngFor="let order of orders; let i =index">
                        <tr>
                          <th scope="row">{{i+1}}</th>
                            <td>{{ order.id }}</td>
                            <td>{{ order.title }}</td>
                            <td>{{ order.description }}</td>
                            <td>€ {{ order.price }}</td>
                            <td>{{ order.username }}</td>
                            <td><button (click)="deleteOrders(order.id)" class="btn btn-danger btn-sm  ">elimina</button></td>
                        </tr>
                      </ng-container>
                  </tbody>
            </table>

          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item p-0">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <label for="" class="fw-bold">Products</label>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body p-0">  
          <p *ngIf="products.length === 0">Nessun prodotto trovato.</p>
          <ul *ngIf="orders.length > 0">
              <table class="table table-striped">
                <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Immagine</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">Descrizione</th>
                      <th scope="col">Prezzo</th>
                      <th scope="col">Quantità</th>
                      <th scope="col">Delete</th>
                  </tr>
                </thead>
                  <tbody>
                      <ng-container *ngFor="let product of products; let i =index">
                        <tr *ngIf="!product.editMode">
                            <td>{{ product.id }}</td>
                            <td><img [src]="product.image" alt="{{product.name}}" width="200px" height="150px" class="card-img-top" style="cursor:pointer"></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.description }}</td>
                            <td>€{{ product.price }}</td>
                            <td>{{ product.quantity }}</td>
                            <td><button (click)="modifyProducts(product.id)" class="btn btn-success btn-sm  ">Modifica</button></td>
                            <td><button (click)="deleteProducts(product.id)" class="btn btn-danger btn-sm  ">Elimina</button></td>
                            
                        </tr>
                        <tr *ngIf="product.editMode">

                          <td>{{ product.id }}</td>
                          <td><input type="text" class="form-control" [(ngModel)]="product.image"></td>
                          <td><input type="text" class="form-control" [(ngModel)]="product.name"></td>
                          <td>{{ product.category }}</td>
                          <td><input type="text" class="form-control" [(ngModel)]="product.description"></td>
                          <td><input type="number" class="form-control"  [(ngModel)]="product.price"></td>
                          <td><input type="number" class="form-control"  [(ngModel)]="product.quantity"></td>
                          <td><button class="btn btn-primary btn-sm  " (click)="saveChanges(product)">Invia</button></td>
                          <td><button class="btn btn-danger btn-sm  " (click)="cancelEdit(product)">Annulla</button></td>
                        </tr>
                      </ng-container>
                  </tbody>
            </table>

          </ul>
        </div>
      </div>
    </div>
  </div>